/main.log
/main.out
/main.pdf
/main.aux
/Power, Compute, and Cloud.zip
/main.glo
/main.ist
/main.bbl
/main.blg
/arxiv.log

/A Cost-Aware Approach to Adversarial Robustness in Neural Networks.zip
/tmp
