/acc.pdf
/time.pdf
/cost.pdf
/power.pdf
/clean.csv
/aft_comparison.tex
/aft_comparison.csv
/log_normal_summary.csv
/log_logistic_summary.csv
/weibull_summary.csv
/weibull_aft.pdf
/weibull_qq.pdf
/log_logistic_aft.pdf
/log_logistic_qq.pdf
/log_normal_aft.pdf
/log_normal_qq.pdf
/log_logistic.csv
/weibull.csv
/weibull_trash_score.pdf
/log_normal.csv
/log_normal_trash_score.pdf
/log_logistic_trash_score.pdf
